<a href="https://colab.research.google.com/github/TutanesAllen/CpE0332.1-1-Elective-3/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists

In [ ]:
pi =3.14159
varlist= [1,2,'A','B','Hello',pi]
print(varlist[0])
print(varlist[4])
varlist.append('World')
print(varlist[6])

1
Hello
World

In [ ]:
len(varlist)

7

In [ ]:
print(varlist[5])
varlist.remove(pi)
print(varlist[5])

3.14159
World

Dictionaries

In [ ]:
var= 'Hello World!'
varDict = {'first':123,2:'abc','3':var,4:['lista','listb']}
print(varDict['first'])
print(varDict[2])
print(varDict['3'])
print(varDict[4])
print(varDict[4][1])
varDict[4].append('listc')
print(varDict[4])

123
abc
Hello World!
['lista', 'listb']
listb
['lista', 'listb', 'listc']

**Student Dictionary**

In [ ]:
studentDict = {
    'student':'Allen Christopher O. Tutanes',
    'age':21,
    'birthday':41203
    }
print(studentDict['student'])
print(studentDict['age'])
print(studentDict['birthday'])

Allen Christopher O. Tutanes
21
41203

Slicing

In [ ]:
varlist=[1,2,3,4,5,6,7,8,9,10]
print(varlist[:5])
print(varlist[5:])
print(varlist[:-2])
print(varlist[-2:])
print(varlist[2:-2])
print(varlist[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[9, 10]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]