<a href="https://colab.research.google.com/github/TutanesAllen/CpE0332.1-1-Elective-3/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 (The break statement)

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 (The break statement)

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:

  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4 (Looping through a string)

In [ ]:
for x in "week":
  print (x)

w
e
e
k

***Challenging Question*** Example 5 (Application 3) : **Print thursday only using breaking statement**

In [ ]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
print(x)

Thursday

The range() function

In [ ]:
print("range(6)")
for x in range(6):
  print(x)
print("range(2,6)")
for x in range(2,6):
  print(x)
print("range(0,100,20)")
for x in range(0,100,20):
  print(x)

range(6)
0
1
2
3
4
5
range(2,6)
2
3
4
5
range(0,100,20)
0
20
40
60
80

Nested Loops

In [ ]:
adjectiv=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjectiv:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

The Break Statement

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

The continue statement

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Let's Try** Create a Pythoon program that displays:

      Hello 0
      Hello 1
      Hello 2
      Hello 3
      Hello 4
      Hello 5
      Hello 6
      Hello 7
      Hello 8
      Hello 9
      Hello 10

In [ ]:
i=0
while i<11:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

**Let's Try** Create a Pythoon program that displays integers less than 10 but not less than 3

In [ ]:
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9

In [ ]:
i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9