<a href="https://colab.research.google.com/github/TutanesAllen/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [12]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [13]:
#This is a comment
print("Hello, World!")

Hello, World!

Python Variable

In [10]:
x=1
a,b=0,-1
a,b,c=0,-1,2
print(x,a,b,c)

1 0 -1 2

Casting

In [9]:
b="sally"
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() function

In [8]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes or 'Single' quotes

In [7]:
y="John"
y='John'

Case Sensitive

In [6]:
a=4
A="Sally"

Multiple Variables

In [5]:
x,y,z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [4]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

Output Variables and Concatenating

In [3]:
x="enjoying"
print("Python programming is "+x)

y="Python is"
z="enjoying"
a=y+z
print(a)

Python programming is enjoying
Python isenjoying

Arithmetic Operations

In [2]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10**2)
print(10//3)

15
5
50
2.0
0
100